@import "tailwindcss";

:root {
  --background: var(--color-gray-100);
  --foreground: #171717;
  
  --primary-background: var(--color-white);
  --secondary-background: var(--color-gray-100);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-900);
    --foreground: #ededed;

    --primary-background: var(--color-gray-800);
    --secondary-background: var(--color-gray-700);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
